:root {
  --pri: #C8BFFF;
  --on-pri: #2F0094;
  --pri-c: #4B2DB3;
  --on-pri-c: #E6DEFF;
  --sec: #C9C3DC;
  --on-sec: #312C42;
  --sec-c: #484259;
  --on-sec-c: #E5DFF9;
  --ter: #EFBDD3;
  --on-ter: #4D2A3A;
  --ter-c: #664051;
  --on-ter-c: #FFD9E7;
  --err: #FFB4AB;
  --on-err: #690005;
  --err-c: #93000A;
  --bg: #1C1B1F;
  --on-bg: #E6E1E5;
  --sf: #1C1B1F;
  --on-sf: #E6E1E5;
  --sfv: #49454F;
  --on-sfv: #CAC4D0;
  --ol: #938F99;
  --olv: #49454F;
  --sc0: #0F0D13;
  --sc1: #1D1B20;
  --sc: #211F26;
  --sc2: #2B2930;
  --sc3: #36343B;
  --inv-sf: #E6E1E5;
  --inv-on-sf: #313033;
  --inv-pri: #6442D6;
  --green: #7DD881;
  --red: #FF6B6B;
  --orange: #FF9E43;
  --e1: 0 1px 3px 1px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.3);
  --e2: 0 2px 6px 2px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.3);
  --e3: 0 4px 8px 3px rgba(0,0,0,.15),0 1px 3px rgba(0,0,0,.3);
  --r0: 0;
  --r1: 4px;
  --r2: 8px;
  --r3: 12px;
  --r4: 16px;
  --r5: 28px;
  --r6: 9999px;
  --sidebar-w: 240px;
  --sidebar-collapsed-w: 68px;
  --topbar-h: 56px;
}
